<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ORS_API_KEY</key>
	<string>eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjI0ZmI2M2U0ZGY2YTRlMGM4ZTFlZmJlYzMzNjA0NzZhIiwiaCI6Im11cm11cjY0In0=</string>
	<key>NSHealthShareUsageDescription</key>
	<string>RouteGen would like to display healthdata</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>RouteGen Would like like to write health data</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WE need your location for routes</string>
	<key>MAPS_API_KEY</key>
	<string>AIzaSyDPEKTCMxqtYeuKtaamNIg75urSvrJfqrE</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2177828349356036</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.533224724691-5k7ks8jpu5mbvqf20924elsf079l0nlr</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>2177828349356036</string>
	<key>FacebookClientToken</key>
	<string>30e0c4a451d2ff565baf1b2b31b07073</string>
	<key>FacebookDisplayName</key>
	<string>GeneratingRoute</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
